@keyframes drawCircle {
    from {
        stroke-dasharray: 0, 100;
    }
    to {
        stroke-dasharray: 100, 0;
    }
}

@keyframes drawCheck {
    from {
        stroke-dashoffset: 100;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.circle {
    stroke-dasharray: 100, 100;
    animation: drawCircle 1s forwards;
}

.check {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: drawCheck 1s forwards 1s;
}
